
.header{
    border-bottom: 2px solid #4F4F4F;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
    
    figure img{
        width: 178px;
        height: auto;
    
    }
    
    .buscador input{
        width: 700px;
        height: 40px;
        font-family: Montserrat;
        font-size: 700;
    }
    
    span{
        width: 200px;
    }