.header {
    position: sticky;
    top: 0;
    z-index: 1090;
    background: white;
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

figure img{
    width: 178px;
    height: auto;
}
    
.buscador input{
    width: 700px;
    height: 40px;
    font-family: Montserrat;
    font-size: 700;
    margin: auto;
    text-align: center;
}

hr{
    color: #4f4f4f;
    border-bottom: 2px solid #4F4F4F;
    width: 95%;
    margin-top: 0px;
}

mat-icon{
    color: #bdbdbd;
    margin: 5px;
    transition: color .5s;
       
    } 

mat-icon:hover{
    color: #4f4f4f;
    cursor: pointer;
    }

    mat-icon.active{
        color: #4F4F4F;
    }