<div class="header">
    <figure>
        <img src="../../../assets/image/logotipo.png" alt="">
    </figure>
    <div class="buscador">
        <input *ngIf="usersService.islogged()" type="search" placeholder="ver todos los usuarios"
            routerLink="/usuarios">
    </div>
    <div class="iconos_nav">
        <mat-icon routerLink="">favorite</mat-icon>
        <!-- <mat-icon>favorite_border</mat-icon> -->
        <mat-icon *ngIf="usersService.islogged()" routerLink="/miPerfil">person</mat-icon>
        <mat-icon *ngIf="usersService.islogged()" routerLink="/pedido">local_grocery_store</mat-icon>
        <mat-icon *ngIf="usersService.islogged()" routerLink="/home">home</mat-icon>
        <mat-icon *ngIf="usersService.islogged()" routerLink="/addProducto">add</mat-icon>
        <mat-icon *ngIf="usersService.islogged()" routerLink="/login" (click)="onClick()">meeting_room</mat-icon>
    </div>
</div>
<hr>