<div class="usuarios">

    <div class="usuario" *ngFor="let usuario of arrUsuarios" routerLink="/profile/{{usuario.id}}">
        <h2>@{{usuario.nickname}}</h2>
        <div class="usuario_contenido">
            <div>
                <img [src]="'http://localhost:3000/images/' + usuario.foto" alt="">
            </div>
            <div>
                <h3>{{usuario.nombre}} {{usuario.apellidos}}</h3>
                <p>{{usuario.fecha_nacimiento | date}}</p>
            </div>
        </div>
    </div>
</div>