<div class="contenedor">

    <form class="example-form">

        <div>
            <h4>Registro de productos</h4>
            <mat-form-field appearance="fill">
                <mat-label>Productos</mat-label>
                <select matNativeControl required>
                    <option value="pantalon">Pantalón</option>
                    <option value="calzoncillos">Calzoncillo</option>
                    <option value="calcetines">Calcetines</option>
                    <option value="camiseta">Camiseta</option>
                    <option value="camisa">Camisa</option>
                    <option value="bragas">Bragas</option>
                    <option value="tanga">Tanga</option>S
                    <option value="falda">Falda</option>
                    <option value="chaqueta">Chaqueta</option>
                </select>
            </mat-form-field>
        </div>

        <div style="margin-top: 40px;">
            <mat-form-field class="example-full-width">
                <mat-label>
                    PRECIO
                </mat-label>
                <input matInput type="text">
            </mat-form-field>
        </div>

        <div style="margin-top: 40px;">
            <mat-form-field class="example-full-width">
                <mat-label>
                    USUARIO
                </mat-label>
                <input matInput type="text">
            </mat-form-field>
        </div>

        <div style="margin-top: 40px;">

            <mat-form-field>
                <ngx-mat-file-input formControlName="archivo" placeholder="ARCHIVO"></ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>

        </div>


        <div class="container-buttons">
            <div>
                <input type="submit" value="SUBIR PRODUCTO">
            </div>

        </div>
    </form>

</div>