<div class="contenedor">

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="example-form">

        <div>
            <h4>Registro de productos</h4>
            <mat-form-field appearance=" fill">
                <mat-label>Tipo de producto</mat-label>
                <select matNativeControl required formControlName="tipo_producto">
                    <option value="ropa interior masc">Ropa interior masculina</option>
                    <option value="ropa interior fem">Ropa interior femenina</option>
                    <option value="calzado masc">Calzado masculino</option>
                    <option value="calzado fem">Calzado femenino</option>
                </select>
            </mat-form-field>
        </div>

        <div class="space">
            <mat-form-field class="example-full-width">
                <mat-label>
                    PRECIO
                </mat-label>
                <input matInput type="text" formControlName="precio">
            </mat-form-field>
        </div>

        <div class="space">
            <mat-form-field class="example-full-width">
                <mat-label>
                    PRODUCTO
                </mat-label>
                <input matInput type="text" formControlName="producto">
            </mat-form-field>
        </div>

        <div class="space">

            <mat-form-field>
                <ngx-mat-file-input (change)="onChange($event)" types="file" placeholder="Archivo"></ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
        </div>


        <div class="container-buttons">
            <div>
                <input type="submit" value="SUBIR PRODUCTO">
            </div>

        </div>
    </form>

</div>