*{
    margin:0;
    padding: 0;
}

.miPerfil{
    padding: 20px;
    width: 50%;
    margin: auto;
    justify-content: center;
}

.usuario{
    margin-top: 3%;
    border-bottom: 2px solid #4F4F4F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img{
        width: 350px;
        height: 500px;
        margin-bottom: 0px;
        object-fit: cover;
    }
    mat-icon{
        color: #bdbdbd;
        transition: color .2s;
    } 
    mat-icon:hover{
       color: #4f4f4f;
       cursor: pointer;
    }
}

.usuario div:first-child{
    display: flex;
    justify-content: center;
    img{
        width: 100%;
    }
    width: 60%;
}

.usuario div:nth-child(2){
    margin-left: 0px;
    width: 30%;
}

.usuario div:last-child{
    width: auto;
}