<div class="contenedor">

    <form class="example-form">

        <div>
            <mat-form-field class="example-full-width">
                <mat-label>EMAIL</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div style="margin-top: 40px;">

            <mat-form-field>
                <mat-form-field appearance="IMAGEN">
                    <mat-label>IMAGEN</mat-label>
                    <ngx-mat-file-input formControlName="outline" placeholder="IMAGEN">
                    </ngx-mat-file-input>
                    <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field>
            </mat-form-field>
        </div>

        <div class="container-buttons">
            <div>
                <input type="submit" value="INICIAR SESIÓN">
                <div class="recordarPassword">
                    Recordar contraseña
                </div>
            </div>
            <div class="submitcuenta">
                <input type="submit" value="CREAR CUENTA">
            </div>
        </div>
    </form>

</div>